# Ignore runtime files
files/*
keys/*

# Allow folder structure
!files/.gitkeep
!keys/.gitkeep

# Python cache
__pycache__/
*.pyc

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

#private key
private_key.pem
public_key.pem
